body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  box-shadow: none !important;
}

.navbar {
  width: 1024px;
}

.input-group {
  width: 250px;
}

.main-container {
  width: 1024px;
}

#nav-title {
  font-size: 30px;
  font-weight: 500;
}

#picker-container {
  width: 800px;
}

#picker-table {
  font-size: 20px;
}

.picker-table-row {
  height: 50px;
}

.picker-subject {
  white-space: nowrap;
}

.complete-btn {
  width: 60px;
  height: 32px;
  font-size: 15px;
}

#count-col {
  width: 100px;
}

.tooltip-inner {
  white-space: pre-wrap;
}

#list-record {
  font-size: 15px;
}

.record-date {
  width: 104px;
}

.list-record-item {
  padding: 4px 8px !important;
}

.list-record-delete-td {
  width: 72px;
  padding: 3px 8px !important;
  vertical-align: middle;
}

.del-btn {
  height: 22px;
  font-size: 12px;
}

.del-switch-btn {
  position: absolute;
  right: 10px;
}

#record-header {
  border-width: 0 0 1.5px 0;
  border-style: solid;
}

#calendar-header {
  position: relative;
  width: 475.2px;
  height: 18px;
}

.calendar-month {
  position: absolute;
  font-size: 11px;
}

.calendar-record-square {
  width: 11px;
  height: 11px;
  border-radius: 4px;
  background: #000;
  margin: 0.7px;
}