body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  box-shadow: none !important;
}

.navbar {
  width: 1024px;
}

.input-group {
  width: 250px;
}

.main-container {
  width: 1024px;
}

.subjectList {
  width: 50%;
}

#picker-container {
  width: 500px;
}

#picker-table {
  font-size: 20px;
}

.picker-table-row {
  height: 50px;
}

.complete-btn {
  height: 32px;
  font-size: 15px;
}